* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    position: relative;
}

button#new-book {
    font-size: 16px;
    padding: 10px 20px;
}

div.book-display-container {
    border: solid 1px black;
    width: 750px;
    position: absolute;
    top: 30%;
    padding: 20px
}

ul.book-display {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: 300px;
    grid-auto-flow: column;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.book{
    border: 3px solid green;
    writing-mode: sideways-lr;
    text-orientation: sideways;
    display: flex;
    align-items: center;
    padding: 20px 15px 60px 15px;
    position: relative;
}

.book .bottom-up {
    position: absolute;
    bottom: 30px;
    writing-mode: horizontal-tb;
    width: 100%;
}

.book .bottom-bottom {
    position: absolute;
    bottom: 0px;
    writing-mode: horizontal-tb;
    width: 100%;
}

dialog {
    margin: auto;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.read {
    border: gray solid 3px;
    color: gray;
}